.currentProjects{
    margin-left: 14px;
}
.projectsContainer{
    width: 1180px;
    display: flex;
    flex-wrap: wrap;
}
.projects{
    background-color: #fff;
    margin:12px;
    border-top: #fd7;
    border-radius: 10px;
    width:554px;
    Height:455px;
    overflow: hidden;
}
.project_logo{
    margin-left: 24px;
    margin-top: 24px;
    margin-right: 16px;
    height: 54px;
    width: 54px;
    border-radius: 27px;
}
.project_header{
    display:inline-flex;
    align-items: center;
}
.project_duration{
    font-weight: lighter;
    text-size-adjust: 14px;
}
.project_footer{
    display: flex;
    flex-direction: row;
}
.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#risk{
    background-color: #FFF0F0;
    color: #FF6157;
    height: 32px;
    width: 72px;
    border-radius: 24px;
    justify-content: center;
}
.filter{
    background-color: #fff;
    border-radius: 6px;
    padding: 6px 8px;
    margin-left: 24px;
    flex-direction: row;
}
#sortBy{
    padding: 10px;
    border-radius: 6px;
    border: none;
}
.column-reverse{
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
}
.column{
    display: flex;
    flex-direction: column;
}
.row-reverse{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
}
.bold{
    font-weight: bold;
    font-size: large;
}
.light{
    font-weight: lighter;
    font-size: small;
    color: #aaa;
}
.menu{
    background-color: rgb(238, 238, 238);
    padding: 1px 2px;
    margin-left: 10px;
}
.menu div{
        background-color: #fff;
        border-radius: 3px;margin: 0px ;
        padding: 0px 10px;
        color: #777;
        transition: all 0.2s;
}
.menu div:hover{
    background-color: #dfd;
    color: #000;
}