
.dashboard_body{
    display: flex;
    flex-direction: row;
}
.project_overview {
    margin-left: 24px;
    height: 405px;
    width: 688px;
    border-radius: 10px;
    background-color: #fff;
}
.project_gallery {
    margin-left: 24px;
    height: 405px;
    width: 420px;
    border-radius: 10px;
    background-color: #fff;
}
#project_overview_header{
    width:640px;
    height: 77px;
    padding: 5px 24px 0px 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#project_gallery_header{
    padding: 24px 0px 24px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#dropdown{
    display: flex;
    margin-left: 100px;
    float: right;
    padding: 10px 10px 11px 10px;
}
.project_br{
    width: -webkit-fill-available;
    height: 1px;
    background-color: #ddd;
}
#image_gallery{
    display: flex;
    flex-wrap: wrap ;
    margin-left: 18px;
    margin-top: 10px;
}
.image_source{
    padding: 6px;
}
#project_gallery_footer{
display: flex;
flex-direction: row;
width: fit-content;
align-items: center;
}
#index{
    margin-left: 24px;
    display: flex;
    flex-direction: row;
    width: fit-content;
    align-items: center;
}
circle{
    transform-origin: center;
    transition: all 0.5s;
}
circle:hover{
    box-shadow: cadetblue;
}
.bold4{
    font-weight:bold
}
.chart_table_header{
    margin: 56px 0px 12px 0px;
}
.chart_table_body{
    margin-top: 10px;

}
.chart_table_body_elem{
    background-color: #fff;
    border-radius: 4px;
    padding: 3px 3px 3px 13px;
}
#center_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 320px;
    width: 320px;
    position: absolute;
    transition: all 0.5s;
}

.donutchart{
    height: 300px !important;
    width: 500px !important;
    transform: translateY(-18px);
}
.donutchart-arcs{
    transform: rotateZ(90deg) rotateX(180deg);
    border: none;
}
.donutchart-arcs-paths {
    stroke: none;
    width: 20px;
}
.selected{
    opacity: 1;
}
.donutchart-innertext-label{
    margin-top:55% ;
    font-size: xxx-large;
    color: #999 !important;
    font-weight: initial;
}

.donutchart-innertext-value{
    position: relative;
    margin-top:45% ;
    font-size: large;
    font-weight: bold;
}
.donutchart-legend{
    border-radius: 10px;
    background-color: #999;
    transform: translateY(30%) translateX(15%);
}