#Headerbar{
    height: 99px;
    background-color: #fff;
    align-items: center;
    flex-basis: content;
    width: 1180px;
}
#headerbar-left{
    display: flex;
    flex-direction: row;
    height: 48px;
    width: auto;
    float: left;
    border-radius: 5px;
    background-color: #eee;
    justify-content: center;
    align-items: center;
    margin: 25.5px 0px 25.5px 24.5px;
    
}
#headerbar-right{
    float: right;
    display: flex;
    flex-direction: row-reverse;
    margin: 25.5px 24.5px 25.5px 0px;
}
.inactiveaddProject{
    padding: 0;
    background-color: #5BBC2E;
    border: none;
    height: 48px;
    width: 134px;    
    border-radius: 4px;
    display: flex;
    justify-content: unset;
    align-items: center;
    color: #fff;
    font-weight: bold;
    transition: all 0.5s;

}
.activeaddProject{
    background-color:#fff ;
    box-shadow:0px 10px 40px rgba(0, 0, 0, 0.3);
    color:#000;
    border: none;
    height: 48px;
    width: 134px;    
    border-radius: 4px;
    display: flex;
    justify-content: unset;
    align-items: center;
    transition: all 0.5s;
}
.projectWindow{
    padding: 20px;
    height:600px;
    width:500px;
    margin:25vh 15vw;
    position:absolute;
    background-color:#fff;
    z-index:100;
    box-shadow: 0px 0px 110px rgba(0, 50, 100, 0.5);
    display: flex;
    flex-direction: column;
}
.projectWindow input{
    margin: 4px 0px;
    padding: 2px;
    background-color: #fff;
    border: solid 1px;
    border-color: #bff;
    
}
#add{
    /* margin: 6px 4px; */
    margin-left: 12px;
    margin-right: 8px;
}
#search{
    border: none;
    background-color: #eee;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 150px;
    height: auto;
    height: -webkit-fill-available;
}
.cancel{
    background-color: #f66;
    border-radius: 4px;
    border: none;
    padding: 7px 15px;
    transition: all 0.5s;
}
.submit{
    background-color: #6ae;
    border-radius: 4px;
    border: none;
    padding: 7px 15px;
    transition: all 0.5s;
}
.cancel:hover{
    background-color: #f22;
}
.submit:hover{
    background-color: #26e;
}
#notification{
    margin: 0px 0px;
}
.br{
    background-color: #E2E3E5;
    height: 32px;
    width: 1px;
    color: #F2F3F5;
    margin: 8px 21px;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
background: #fff; 
}
::-webkit-scrollbar-thumb {
background: #ddd; 
border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
background: #888; 
}