.sidebar{
    background-color: "#04162C";
    width: 20vw;
    /* height: -webkit-fill-available; */
    overflow-x: scroll;
}
.sidebarList{
    display: flex;
    flex-direction: column;

}
.sidebarElems{
    display: flex;
    flex-direction: row;
    color: #969AA1;
    transition: all 0.4 s;

}
.sidebarIcons{
    margin-left: 20px;
    transition: all 1s;
    padding: 25px 0px;
    /* transition: all 1s; */

}
.sidebarFields{
    color: #969AA1;
    background-color:inherit ;
    font-weight: bold;
    margin-left: 16px;
    padding: 25px 0px;
}

