.sidebar{
    background-color: "#04162C";
    width: 260px;
    overflow-x: scroll;
}
.sidebarList{
    display: flex;
    flex-direction: column;

}
.sidebarElems{
    display: flex;
    flex-direction: row;
    color: #969AA1;
    transition: all 0.3s;
    margin:9px 0px;
}
.sidebarIcons{
    margin-left: 28px;
    /* transition: all 1s; */
    padding: 25px 0px;
}
.sidebarFields{
    color: #969AA1;
    background-color:inherit ;
    font-weight:normal;
    margin-left: 16px;
    padding: 25px 0px;
}

