.App{
  background-color: #eee;
  height: min-content;
  width: max-content;
  display: flex;
  flex-direction: row;
}
.appBody{
  width: 80vw;
 
}
.scrollBody{
  height: 85vh;
  overflow-y: scroll;
}