@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Font-Poppins/Font-Poppins/Poppins-Medium.ttf');
  font-style: normal;
  font-weight: normal;
}
body {
  font-family: 'Poppins','sans-serif';
  margin: 0;
  background-color: #eee;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
