@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
body {
  font-family: 'Poppins';
  margin: 0;
  
  /* @font-face {
    font-family: 'MyFont';
    src: local('MyFont'), url(./fonts/Font-Poppins.zip) format('woff');
  
  }
   */
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
